html{ height:100%; margin: 0; }

body{
	background-color: white;
	font-family: 'Roboto', sans-serif;
	min-height:100%; 
	padding:0; 
	margin:0; 
	position:relative;
	display: flex;
	flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.flex{
	display: flex;
}	

.header{
	justify-content: space-between;
	padding: 25px 25px 5px 25px;
	
}	
	
.minorNav a{
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: #676767;
}

.nav{
	border: 1px solid #676767;
	border-radius: 25px;
	margin: 12px 27px 10px 27px;
	padding-right: 25px;
	padding-left: 20px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}	

span{
	padding-top: 2px;
}

input[type="text"]{
	border: none;
    background: transparent;
	cursor: text;
}
	
button{
	background: none;
	border: none;
	cursor: pointer;
}	
	
select{
	border: none;
    background: transparent;
	cursor: pointer;
	width: 120px;
	-webkit-appearance: none;
}	
	
.round{
	border: 1px solid black;
	border-radius: 50%;
	height: 18px;
	margin: 2px;
	vertical-align: middle;
}	

.black{
	background-color: #222222;
}

.white{
	background-color: white;
}			
	
.main{
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 45px 0 45px;

}	

.card{
	flex: 0 1 23%;
	height: 100%;
}

.font{
	justify-content: space-between;
}	

.fontName{
	font-weight: bold;
	margin: 0;
}	
.fontCreator{
	font-weight: bold;
	color: grey;
	margin-top: 10px;
}	

.addFont{
	color: red;
	border: 2px solid red;
	border-radius: 50%;
	height:50%;
	width: 20px;
    text-align: center;
	font-weight: bold;
    margin-top: 0px;

}	

.sampleFont{
	padding: 10px 0 15px 0;
	font-weight: bold;
	font-size: 32px;
}
	
.footer{
	flex-shrink: 0;
	margin-left: 45px;
	margin-right: 45px;
	height: 3rem; 
	background-image: linear-gradient(white, #d9d9d9);
	text-align: center;
	font-weight: bold;
	font-size: small;
}		

#backToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: -10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: gray;
  cursor: pointer;
  padding: 15px;
}	

@media only screen and (max-width: 942px) {
	.hide{
		display:none;
	}
	.card{
		flex: 0 1 46%;
		height: 100%;
	}	
}

@media only screen and (max-width: 768px) {
	#searchFont{
		width: 50%;
	}	
	#listOrGrid{
		display:none;
	}
	.hideButtons{
		display:none;
	}
	.main{
		display: block;
	}	
}

@media only screen and (max-width: 540px) {
	.minorNav a{
		font-size: 12px;
		padding: 18px 2px 18px 2px;
	}
	#listOrGrid{
		display:none;
	}
}